<!-- concurrency -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Educator</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Description" content="Find more detailed information about the concurrency course">
    <link rel="stylesheet" type="text/css" href="resources/css/main.css">
</head>

<body>
    <header>
        <div class="logo-box">
            <a href="/"><img class="logo" src="resources/Images/logo.png" alt="Logo"></a>
        </div>
        <nav>
            <ul class="navbar">
                <li><a href="/">Home</a></li>
                <li><a href="concurrency">Concurrency</a></li>
                <li><a href="schedule">Schedule</a></li>
                <li><a href="assignments">Assignments</a></li>
                <li><a href="description">Description</a></li>
                <li><a href="info">Information</a></li>
            </ul>
        </nav>
    </header>

    <main class="content">
        <h1>Bachelor course of Concurrency</h1>

        <p>Please contact Trevor L. McDonell <a href="mailto:t.l.mcdonell@uu.nl">t.l.mcdonell@uu.nl</a> for any enquiry about the course, mentioning [INFOB3CC] in the subject.</p>
        <p>Office hours are Mondays 13:00 to 15:00 in BBG 5.68.</p>

        <h2>Teaching objectives</h2>

        <p>By the end of the course you will be able to:</p>
        <article class="concurrency">
            <ul>
                <li>Design and implement a multithreaded application in Haskell, using techniques and concepts such as:
                    <ul>
                        <li>Managing threads</li>
                        <li>Synchronise with locks, semaphores, etc.</li>
                        <li>Data-flow parallelism</li>
                        <li>Data-parallelism</li>
                    </ul>
                </li>
                <li>
                    <p>Understand the difference between concurrency and parallelism and where techniques for each can be applied to solve problems</p>
                </li>
                <li>
                    <p>Calculate the complexity (work and span) of parallel algorithms</p>
                </li>
                <li>Reason about the properties of a concurrent algorithm</li>
            </ul>
            <h2>Latest news</h2>
            <section class="latest-news">
                <h4><i>13 Feb 2020</i></h4>
                <p>The team has now expanded the content on their site, including links to other pages within the website and using the correct layout to make sure the lists are shown correctly on the pages.</p>
                <h4><i>7 Feb 2020</i></h4>
                <p>The team has set up the basics of their website, a layout, a navigation bar and a logo.</p>
                <p>After this the team started working on filling up the pages of their site, adding content.</p>
                <p>While doing so, the team is also working on making sure the style of their page is being kept up to date, following the Web Standards.</p>
            </section>
        </article>
    </main>
    <footer>
        &copy; Utrecht University 2020
    </footer>
</body>

</html>