<!-- Index -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Educator</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Description" content="Looking for anything about your course, look on this website for all the information">
    <link rel="stylesheet" type="text/css" href="resources/css/main.css">
</head>

<body>
    <header>
        <div class="logo-box">
            <a href="/"><img class="logo" src="resources/Images/logo.png" alt="Logo"></a>
        </div>
        <nav>
            <ul class="navbar">
                <li><a href="/">Home</a></li>
                <li><a href="concurrency">Concurrency</a></li>
                <li><a href="schedule">Schedule</a></li>
                <li><a href="assignments">Assignments</a></li>
                <li><a href="description">Description</a></li>
                <li><a href="info">Information</a></li>
                <li><a href="courses">Courses</a></li>
            </ul>
        </nav>
    </header>

    <main>

    </main>
    <footer>
        &copy; Utrecht University 2020
    </footer>
</body>
</html>