doctype html
// Schedule
html(lang='en')
  head
    title Educator
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='Description', content='Look at the schedule for any specific date')
    link(rel='stylesheet', type='text/css', href='resources/css/main.css')
  body
    header
      .logo-box
        a(href='/')
          img.logo(src='resources/Images/logo.png', alt='Logo')
      nav
        ul.navbar
          li
            a(href='/') Home
          li
            a(href='concurrency') Concurrency
          li
            a(href='schedule') Schedule
          li
            a(href='assignments') Assignments
          li
            a(href='description') Description
          li
            a(href='info') Information
          li
            a(href='courses') Courses
    section.normal_section
      h1 Schedule
      p
        | The lecturing schedule with slides are given below. The slides will be updated as the course progresses.
      p
      table
        thead
          tr
            th Week
            th Date
            th Topics
            th Material
            th Deadlines
        tbody
          tr
            td 46
            td 12/11
            td Introduction
            td
            td
          tr
            td
            td 14/11
            td Haskell refresh
            td
            td
          tr
            td 47
            td 19/11
            td Threads
            td
            td
          tr
            td
            td 21/11
            td MVars
            td Chapter 7(plus parts of 8 & 9)
            td
          tr
            td 48
            td 26/11
            td Software Transactional Memory (1)
            td Chapter 10
            td
          tr
            td
            td 28/11
            td Software Transactional Memory (2)
            td Chapter 10
            td
          tr
            td
            td 30/11
            td
            td
            td
              a(href='assignments') Assignment 1
          tr
            td 49
            td 3/12
            td Netchange
            td Netchange Algorithm, Chapter 12
            td
          tr
            td
            td 5/12
            td Parallelism from Concurrency
            td Chapter 13
            td
          tr
            td 50
            td 10/12
            td Work & Span
            td
            td
          tr
            td
            td 12/12
            td no lecture
            td
            td
          tr
            td 51
            td 17/12
            td Revision
            td
            td
          tr
            td
            td 19/12
            td
              strong Mid-session exam
            td
            td
          tr
            td 1
            td 4/1
            td
            td
            td
              a(href='assignments') Assignment 2
          tr
            td 2
            td 7/1
            td Data Parallelism (1)
            td Part 1 Introduction, Chapter 5 & 6
            td
          tr
            td
            td 9/1
            td Data Parallelism
            td
            td
          tr
            td 3
            td 14/1
            td Data Parallelism (3)
            td
            td
          tr
            td
            td 16/1
            td Scan
            td
            td
          tr
            td 4
            td 21/1
            td GPGPU
            td
            td
          tr
            td
            td 23/1
            td Conclusion
            td
            td
          tr
            td 5
            td 30/1
            td
              strong Final exam
            td
            td
          tr
            td
            td 1/2
            td
            td
            td
              a(href='assignments') Assignment 3
    footer.footer
      | © Copyright University of Utrecht
